*{
    font-family: 'Yantramanav', sans-serif;
}
/* section {
    height: 50px;
} */

.first-section {
    display: flex;
    flex-direction: column;
    
}

#h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Yantramanav', sans-serif;
    color: white;
    margin-top: -200px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
}

.second-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 150px;
    background-color: lightblue;
    /* font-family: 'Yantramanav', sans-serif;
    font-weight: bold; */
}

article {
    border: red 1px groove;
    width: 270px;
    flex-wrap:wrap;
    /* margin-right: 20px; */
}